#msg-box{
    background-color: gainsboro;
    padding: 10px 20px;
    border-radius: 0px 20px 20px 20px;
    margin-right : 20px;
}

#messages {
    height: 70vh;
    overflow-y: scroll;
}

.header-chat {
    padding: 20px 20px;
}

#roomId {
    color: #fff;
}
