@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800;900&display=swap');

#msg-box{
    background-color: gainsboro;
    padding: 10px 20px;
    border-radius: 0px 20px 20px 20px;
    /* margin-right : 20px; */
}

#messages {
    height: 70vh;
    overflow-y: scroll;
}

.header-chat {
    padding: 20px 20px 15px 20px;
}

#roomId {
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Lexend', sans-serif;
    /* -webkit-user-select: none; */
    /* cursor: default; */
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}